/* filepath: /c:/Users/julia/OneDrive/Área de Trabalho/TRABALHO PWEB/PwebTrabalho/src/components/TableHorarios/TableHorarios.css */
.table-container {
    width: 80%; /* Defina a largura do contêiner para 80% */
    margin: 0 auto; /* Centralize o contêiner horizontalmente */
    margin-top: 30px;
  }